<head>
  <title>Authorization Failed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://gofake1.net/main.css">
  <style>
  table {
    -webkit-border-horizontal-spacing: 0px;
  }
  .block {
    border-left-color: #888;
    border-left-style: solid;
    padding-left: 16px;
  }
  .centered-text {
    text-align: center;
  }
  .column {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: auto;
  }
  .horizontal-spacer {
    width: 1em;
  }
  .vertical-spacer {
    height: 1em;
  }
  </style>
</head>

<body>
<div class="navbar">
  <h3 class="logo"><a href="/">Gofake1</a></h3>
  <ul>
    <li><a href="https://gofake1.net/blog/">Blog</a></li>
    <li><a href="https://gofake1.net/projects/">Projects</a></li>
    <li><a href="mailto:david@gofake1.net">Email</a> (<a href="https://gofake1.net/files/gofake1_pub.asc">pgp</a>)</li>
  </ul>
</div>

<h2 class="centered-text">Authorization Failed</h2>
<div class="column">
  <div class="block">
    <h4>Error Details:</h4>
    <table>
      <tr>
        <td>Error:</td>
        <td class="horizontal-spacer"></td>
        <td>{{error}}</td>
      </tr>
      <tr>
        <td>Reason:</td>
        <td class="horizontal-spacer"></td>
        <td>{{reason}}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td class="horizontal-spacer"></td>
        <td>{{description}}</td>
      </tr>
    </table>
  </div>
  <div class="vertical-spacer"></div>
  <div class="centered-text">
    <a href="https://api.instagram.com/oauth/authorize/?client_id=24dad3650cf344ab8eca674697394dd2&redirect_uri=https%3A%2F%2Fdrip.gofake1.net/auth&response_type=code&scope=basic+public_content+follower_list+comments+relationships+likes">Try Again</a>
  </div>
</div>
</body>